body {
  background-color: rgb(198, 97, 2);
  margin: 0;
  display: flex;
  height: 100vh;
  position: relative; /* برای اینکه h1 بتونه نسبت به body تنظیم شه */
}

h1 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  color: rgb(84, 159, 134);
  background-color: rgb(233, 183, 137);
  padding: 5px;
  margin: 0;

  /*color: aquamarine;
    color: rgb(84, 159, 134);
    background-color: rgb(233, 183, 137);
    top: 30ps;
    padding: 5px;
    margin: 0px;*/
}

.Form-left {
  width: 50%; /*Left half*/
  height: 100%;

  background-color: azure;

  display: flex; /*Use Flexbox to arrange internal content.*/
  justify-content: center; /*Photo in center horizontally*/
  align-items: center; /*same but vertically*/

  /*پیشنهاد چت جی‌پی‌تی*/
  max-width: 80%;
  height: auto;
}

.Form-right {
  width: 50%;
  height: 100%;

  background-color: rgb(198, 97, 2);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 20px;
}

.Form-right button {
  color: rgb(84, 159, 134);
  background-color: rgb(233, 183, 137);
}

@media (max-width: 768px) {
  /*-------------- responsive --------------*/
  body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Form-left {
    display: none; /* hide photo*/
  }

  .Form-right {
    width: 100%;
    height: 100vh;
  }
}
